{% extends 'base.html.twig' %}

{% block title %}A propos de nous !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour à tous </h1>

    Si vous êtes sur cette page c'est sans doute pour en savoir un peu plus à notre sujet. Vous ne serez pas décu !
    <ul>
        <li>Nous sommes un petit groupe de collaborateurs et ensensemble nous avons eu pour projet la création d'un site web permettant l'achat de livres pour enfants et adolescent sur internet</li>
        <li>Cette idées nous est venue suite à une problématique que rencontrait certains parent quand il se rendaient directement en librairie</li>
    </ul>
    <ul>Nous sommes joignables du lundi au samedi de 7h à 18h au numéro suivant :
    <li> 0690123465 ou par mail via la page <a href="/contact">Contact</a>
    </li>
    </ul>
    <p>
    Le siege social se situe au : <br/> Bd du Marquisat de Houelbourg <br/> Jarry <br/> Baie-Mahault 97122, Guadeloupe

    </p>
</div>
{% endblock %}
