{% extends 'base.html.twig' %}

{% block title %}A propos de nous !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour à tous </h1>

    Si vous êtes sur cette page c'est sans doute pour en savoir un peu plus à notre sujet. Vous ne serez pas décu !
    <ul>
        <li>Nous sommes un petit groupe de collaborateurs et ensensemble nous avons eu pour projet la création d'un site web permettant l'achat de livres pour enfants et adolescent sur internet</li>
        <li>Cette idées nous est venue suite à une problématique que rencontrait certains parent quand il se rendaient directement en librairie</li>
    </ul>
    <ul>Nous sommes joignables du lundi au samedi de 7h à 18h au numéro suivant :
    <li> 0690123465 ou par mail via la page <a href="/contacts">Contact</a>
    </li>
    </ul>
    <p>
    Le siege social se situe au : <br/> CWTC Complexe World Trade Center <br/>
    Route du CWTC 97122 ZI de Jarry <br/> Baie Mahault, 97122, Guadeloupe <br/> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15323.514454898655!2d-61.5504424!3d16.226679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6fdd4fef2e57cb53!2sCWTC%20Complexe%20World%20Trade%20Center!5e0!3m2!1sfr!2sfr!4v1664206551371!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </p>
</div>
{% endblock %}
