{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div id="form">
        <h1>Contactez-nous</h1>
        <div class="separation"></div>
        <label> Email : </label>{{form(formulaire.email)}}
        <label> Message : </label> {{form(formulaire.message)}}

        <input name="" id="" class="btn btn-outline-primary" type="button" value="Envoyer">
    </div>

    <div id="description">
        <p>Numéro de téléphone : <a href="tel: 05.90.12.34.56" target="_blank">0590.12.34.65</a></p>
        <p>Horaire d'ouverture : 7h à 18h </p>
        <p>Le siege social se situe au : <br/> CWTC Complexe World Trade Center <br/>
        Route du CWTC 97122 ZI de Jarry <br/> Baie Mahault, 97122, Guadeloupe <br/>
        </p>
        <img id="tofCont" src="assets/images/librairie-enfant.jpg" alt="photo de la librairie">
    </div>
{% endblock %}
